* {
  background-color: #111;
  color: #fafafa;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
  padding: 17px 17px 17px 17px;
  font-size: 17px;
  font-weight: 400;
}

.header {
  color: white;
}
.form-container {
  margin: 20px 0;
}

.btn {
  background-color: gray;
  color: white;
}

.give-up-btn {
  background-color: gray;
  color: white;
  width: 80px;
  height: 30px;
  margin-top: 80px;
}

.input {
  background-color: lightgrey;
  width: 600px;
  height: 30px;
}

.guess-wrapper {
  display: flex;
}
